.app-container {
  position: relative;
  margin: 3rem auto;
  max-width: 1120px;
}

.page-animation {
  position: absolute;
  left: 310px;
}

.page-animation-enter {
  opacity: 0;
  transform: translateX(-150%);
}
.page-animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.page-animation-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-animation-exit-active {
  opacity: 0;
  transform: translateX(150%);
  transition: opacity 350ms, transform 3500ms;
}
