.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.form .label {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.form .search-bar,
.form .page-size-input,
.form .submit-btn {
  height: 40px;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.form .search {
  position: relative;
}

.form .search-icon {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.form .search-bar {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.form .submit-btn {
  width: 50%;
  margin: 1rem auto 0;
  background-color: $search-btn-color;
  transition: width $duration, background-color $duration;

  &:disabled {
    color: $color-disable;
    border-color: $color-disable;
    cursor: default;
  }

  &:hover:not([disabled]) {
    width: 100%;
    background-color: $search-btn-color-hover;
    cursor: pointer;
  }
}

.form .sorts {
  display: flex;
  flex-direction: column;

  & .sort {
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
  }
}

.form .page-size-input {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
