$black: #04303a;
$bg-color: #f5fdff;
$search-btn-color:#e3f5fa;
$search-btn-color-hover:#c3dfe6;
$search-btn-color-active:#a4cbd3;
$color-disable:#ccc;
$color-error:rgb(126, 1, 1);

$border: 2px solid #006f88;
$border-radius: 5px;
$border-color: #006f88;

$box-shadow: 4px 4px 8px 0 rgba(14,78,92,.3);
$box-shadow-hover: 2px 2px 3px 0 rgba(9,49,58,.5);

$container-width: 1120px;

$duration: 0.3s;
